
.home-container
  background-image: url("homepage.png")
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
  width: 100%
  height: 1066px
.spliter
  height: 1px
.mt-600
  margin-top: 570px
.home-into
  color: #D5D5D5
  font-size: 30px
.home-button
  color: black
  font-size: 15px
@media (max-width: 768px)
  .home-into
    text-align: center
    color: rgba(0,0,0,0.8)
    font-weight: bold
  .home-button
    color: black
    font-size: 15px
  .small-button
    text-align: center
    margin-top: 10px