.slide-container
  position: relative
  background-color: #09202E
  color: #D5D5D5
.slide-title
  font-size: 30px
  margin-top: 150px
.student-slide-title
  font-size: 35px
  margin-left: 75px
.slide-content
  font-size: 25px
.student-image
  position: absolute
  right: 0px
  top: 0px
@media (max-width: 768px)
  .slide-title
    text-align: center
  .student-slide-title
    text-align: center
    margin-left: 0px